.containerTitle {
  padding: 0;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}

.containerTitle img {
  position: relative;
  height: 12vh;
  width: 12vh;
  bottom: -4vh;
  left: 1vh;
}

.TodoTitle {
  text-align: center;
  font-size: 28px;
  margin-bottom: 3vh;
  padding: 1vh 1vh 3vh 0;
  font-weight: normal;
  color: #EFE6DD;
}

.TodoTitle span {
  font-weight: bold;
  color: rgba(216,150,84,1);
}