.ButtonCreate {
  background-color: #BB4430;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #231F20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  z-index: 1;

  transform: rotate(9);
  transition: .3s ease;
}

.ButtonCreate:hover {
  transform: rotate(224deg);
}