.ButtonCreate {
  background-color: #F39C12  ;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.41);
  font-size: 50px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-weight: bold;
  color: white;
  height: 64px;
  width: 64px;
  z-index: 1;
  transform: rotate(9);
  transition: .3s ease;
}

.ButtonCreate:hover {
  transform: rotate(224deg);
}

@media (max-width:715px) {
  .ButtonCreate {
    box-shadow: none;
    height: 80px;
    width: 80px;
  }
}