.ButtonCreate {
  background-color: rgba(216,150,84,1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  font-size: 50px;
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  font-weight: bold;
  color: #231F20;
  height: 64px;
  width: 64px;
  z-index: 1;
  transform: rotate(9);
  transition: .3s ease;
}

.ButtonCreate:hover {
  transform: rotate(224deg);
}