body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 3vh 0 0 0;
  background: #D9E8E2;
  /* background-image: url('https://img.freepik.com/vector-premium/fondo-pixel-art-granja-otonal_23-2149597070.jpg?w=2000');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container {
  padding: 2vh 10vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  background: linear-gradient(221deg, rgba(10,10,10,1) 82%, rgba(216,150,84,1) 94%);
}

.CampFire {
  position: relative;
  bottom: -5vh;
  left: -18vh;
  height: 15vh;
  width: 15vh;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

@media (max-width:400px) {
  .container {
    padding: 2vh;
  }
}
