body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 3vh 0 0 0;
  background: rgba(216,150,84,1) ;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container {
  padding: 2vh 10vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  background: linear-gradient(221deg, rgba(20,20,20,60) 82%, rgba(216,150,84,1) 94%);
}

.CampFire {
  position: relative;
  bottom: -5vh;
  left: -18vh;
  height: 15vh;
  width: 15vh;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

@media (max-width:720px) {
  #root {
    display: flex;
    margin: 0;
  }

  body {
    padding: 3vh;
  }

  .CampFire {
    display: none;
  }
}

@media (max-width:415px) {
  #root {
    display: flex;
    margin: 0;
  }

  body {
    padding: 0;
    background: rgba(20,20,20,60);
  }

  .container {
    padding: 1vh 2vh;
    border-radius: 0px;
  }

  .CampFire {
    display: none;
  }
}


